* {
     font-family: Arial, Helvetica, sans-serif;
     line-height: 1.5;
     margin: 0;
     padding: 0;
}

body {
     position: relative;
     margin: 0;
     padding: 0;
     height: 110vh;
}

.container {
     width: 85%;
     margin: 0 auto;
}

.header {
     text-align: center;
     margin:0 50px;
}

.open-modal {
     text-align: center;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 30%;

  background-color: white;
  padding: 5em 6rem ;
  border-radius: 5px;
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
  z-index: 10;
}

.modal>h1 {
     text-align: center;
     margin-bottom: 15px;;
}

.modal>input {
     width: 85%;
     padding: 10px 15px;
     font-size: 18px;
     margin: 0 15px;
     border: 2px solid rgb(194, 194, 194);
     outline: none;
     border-radius: 5px;
     transition: 0.5s;
}

.modal>input:focus {
     border: 2px solid #ff0000;
}

.modal>input:not(:last-child) {
     margin-bottom: 15px;
}

.close-modal {
     position: absolute;
     top: 1.2rem;
     right: 2rem;
     padding: 10px;
     border: none;
     outline: none;
     font-size: 25px;
     color: #fff;
     background-color: #ff0000;
     border-radius: 5px;
     cursor: pointer;
}

.overlay {
     position: absolute;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     background-color: rgba(0, 0, 0, 0.6);
     backdrop-filter: blur(3px);
     z-index: 5;
   }

.hidden {
     display: none;
}

.operations-container {
     display: flex;
}

.operations {
     width: 50%;
     margin: 15px;
     padding: 15px;
}

.operations>h1 {
     color: rgb(117, 7, 219);
}

.results>h1 {
     color: rgb(117, 7, 219);
}

span.result {
     color: #fff;
     padding: 10px 15px;
     background: black;
     border-radius: 10px;
}

.results {
     text-align: center;
     margin: 15px;
     padding: 15px;
}

.operations>h1, .results>h1 {
     margin: 10px 0;
}

.operations>button {
     display: block;
     width: 100%;
     padding: 8px 16px;
     cursor: pointer;

     border: none;
     outline: none;
     font-size: 18px;
     font-weight: bold;
     color: #fff;
     background-color: #008000;
     border-radius: 5px;
     transition: 0.5s;
}

.operations>button:hover {
     opacity: 0.75;
}

.operations>button:not(:last-child) {
     margin-bottom: 10px;
}

span.result {
     margin-top: 75px;
     font-size: 18px;
}

.footer {
     font-weight: bold;
     position: absolute;
     bottom: 0;
     background-color: darkblue;
     color: #fff;
     padding: 15px;
}

.footer p {
     text-align: center;
}